<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="" defaultHref="/tabs/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center font-nunitoSemiBold">Notification</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" class="ion-no-margin max-height-40px ion-no-padding" routerLink="/tabs/profile">
        <img src="../../assets/more-info/yyZVmR.tif.png" class="imgHeader">
      </ion-button>
      <ion-button fill="clear" class="ion-no-margin max-height-40px ion-no-padding">
        <img src="../../assets/notification/Group 69.svg" class="imgHeader">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="zero-border-radius">
    <ion-item >
      <ion-icon src="../../assets/notification/Group 399.svg" slot="start" class="cardIcon"></ion-icon>
      <ion-label>
        <p class="heading font-nunitoBold">Claim Reschedule</p>
        <p class="cardContent no-margin font-nunitoRegular">9808 Lake View Street</p>
        <p class="cardContent font-nunitoRegular"> Hobart, 46342</p>
        <p class="cardContent font-nunitoRegular">The claim survey date needs to be reschedule</p>
      </ion-label>
    </ion-item>
    <ion-card-content class="ion-no-padding">
      <ion-button class="remindMeLater blue font-nunitoSemiBold" fill="clear">Remind me later</ion-button>
      <ion-button class="reschedule pink font-nunitoSemiBold" fill="clear">RESCHEDULE NOW</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="greyBack noShadow noSpace zero-border-radius">
    <ion-item >
      <ion-icon src="../../assets/notification/SKVIyD.tif.svg" slot="start" class="cardIcon"></ion-icon>
      <ion-label class="ion-text-wrap cardContent font-nunitoRegular wordWrap">
        <p class="heading font-nunitoBold blue">Catastrophe notification</p>
        The state has declared warning of bad weather click here to know the locations and precautionary measures.<br>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="noShadow noSpace zero-border-radius">
    <ion-item>
      <ion-icon src="../../assets/notification/TQbOde.tif.svg" slot="start" class="cardIcon"></ion-icon>
      <ion-label class="ion-text-wrap cardContent font-nunitoRegular wordWrap">
        <p class="heading font-nunitoBold blue">New way to pay premium</p>
        Activate easy pay to automate your premium payment, click here to know more.
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="greyBack noShadow noSpace zero-border-radius">
    <ion-item>
      <ion-icon src="../../assets/notification/Group 276.svg" slot="start" class="cardIcon"></ion-icon>
      <ion-label class="ion-text-wrap cardContent font-nunitoRegular wordWrap">
        <p class="heading font-nunitoBold blue">DIY Videos Archive</p>
        Browse through our DIY safety videos to Safeguard your property.
      </ion-label>
    </ion-item>
    <ion-card-content>
      <button class="blue font-nunitoSemiBold card3Button">Fire</button>
      <button class="blue font-nunitoSemiBold card3Button">Water</button>
      <button class="blue font-nunitoSemiBold card3Button">Theft</button>
      <button class="blue font-nunitoSemiBold card3Button">Misc</button>
    </ion-card-content>
  </ion-card>

  <ion-card class="zero-border-radius noShadow noSpace">
    <ion-item>
      <ion-icon src="../../assets/notification/Group 274.svg" slot="start" class="cardIcon"></ion-icon>
      <ion-label class="heading font-nunitoBold blue">
        INBOX
      </ion-label>
    </ion-item>
    <ion-card-content class="ion-no-padding">
      <ion-button class="remindMeLater blue font-nunitoSemiBold" fill="clear">Recieved Messages</ion-button>
      <ion-button class="reschedule pink font-nunitoSemiBold" fill="clear">Sent Messages</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
