
<ion-content routerLink="/login">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="imgFuture">
          <img src="../../assets/splash-screen/The Future of Secure homes..png" alt="The Future of Secure homes">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <div>
          <img src="../../assets/splash-screen/q0q0tb.tif.png" class="imgIcon">
          <img src="../../assets/splash-screen/Path 819.png"  class="imgLine1">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <div>
          <img src="../../assets/splash-screen/Path 820.png"  class="imgLine2">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <div>
          <img src="../../assets/splash-screen/Group 98.png"  class="imgMain">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <div>
          <img src="../../assets/splash-screen/Path 821.png"  class="imgLine3">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

