.blue{
    color: #414141;
}
.pink{
    color: #F56B6A;
}
.cardButton{
    width: 50%;
    padding: 0px;
    margin: 0px;
    --border-radius: 0px;
    border: 1px solid #3F3D56;
    font-size: 15px;
    height: 35px;
}
.cardSubtitle{
    font-size: 18px;
}
.cardContent{
    font-size: 15px;
}
.cardHeader{
    padding-bottom: 0px;
}
.paddingBottom-5{
    padding-bottom: 10px;
}
.cardButton2{
    --border-radius:2px;
    --background: #3F3D56 !important;
    height: 35px;
    font-size: 12px;
}
.cardButton3{
    --border-radius:2px;
    --background: #F56B6A !important;
    height: 35px;
    font-size: 12px;
}
.payNow{
    width: 50%;
    padding: 0px;
    margin: 0px;
    --border-radius: 0px;
    border: 1px solid #F45A59;
    font-size: 15px;
    height: 35px;
}
