<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="" defaultHref="/tabs/tab1">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center font-nunitoSemiBold">Menu</ion-title>
    <ion-row>
      <ion-col size="3"> 
      </ion-col>
      <ion-col size="6">
      </ion-col>
      <ion-col size="3" class="ion-no-padding">  
        <ion-button fill="clear" class="ion-no-margin max-height-40px ion-no-padding" routerLink="/profile">
          <img src="../../assets/more-info/yyZVmR.tif.png" class="imgHeader">
        </ion-button>
        <ion-button fill="clear" class="ion-no-margin max-height-40px ion-no-padding">
          <img src="../../assets/more-info/Group 69.png" class="imgHeader">
        </ion-button>
      </ion-col>
    </ion-row>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
   
    <ion-row class="greyBackground">
      <ion-col size="12" class="imgHead">
        <div class="bg-image">
          <div class="header-content-container">
            <p class="sunny font-nunitoSemiBold">Sunny</p>
            <p class="tempreture font-nunitoBold">35°</p>
            <p class="font-nunitoSemiBold">H 40°.L23°</p>
            <p class="wind font-nunitoSemiBold">Winds:5-10 MPH</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button
          fill="clear"
          class="ion-no-margin ion-no-padding max-height-200px">
          <img
            src="../../assets/more-info/Rectangle 59.png"
            class="imgSquare"/>
          <img src="../../assets/more-info/aeCreR.tif.png" class="imgIcon" />
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          fill="clear"
          class="ion-no-margin ion-no-padding max-height-200px"
        >
          <img
            src="../../assets/more-info/Rectangle 59.png"
            class="imgSquare"
          />
          <img src="../../assets/more-info/E5iuCS.tif.png" class="imgIcon" routerLink="/profile" />
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button
          fill="clear"
          class="ion-no-margin ion-no-padding max-height-200px"
        >
          <img
            src="../../assets/more-info/Rectangle 59.png"
            class="imgSquare"
          />
          <img src="../../assets/more-info/TeprgS.tif.png" class="imgIcon" />
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          fill="clear"
          class="ion-no-margin ion-no-padding max-height-200px"
        >
          <img
            src="../../assets/more-info/Rectangle 59.png"
            class="imgSquare"
          />
          <img src="../../assets/more-info/rmYJJZ.tif.png" class="imgIcon" />
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col size="6">
      <ion-button
        fill="clear"
        class="ion-no-margin ion-no-padding max-height-200px"
      >
        <img
          src="../../assets/more-info/Rectangle 59.png"
          class="imgSquare"
        />
        <img src="../../assets/more-info/mF3wx7.tif.png" class="imgIcon" />
      </ion-button>
    </ion-col>
  </ion-row>
    <!-- <app-info-card icon_name="../../assets/more-info/E5iuCS.tif.png" text="Phone"></app-info-card> -->
  </ion-grid>
</ion-content>


