<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="" defaultHref="/tabs/tab1">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center font-nunitoSemiBold">Profile</ion-title>
    <ion-row>
      <ion-col size="3"> 
      </ion-col>
      <ion-col size="6">
      </ion-col>
      <ion-col size="3" class="ion-no-padding">  
        <ion-button fill="clear" class="ion-no-margin max-height-40px ion-no-padding">
          <img src="../../assets/profile/yyZVmR.tif.png" class="imgHeader">
        </ion-button>
        <ion-button fill="clear" class="ion-no-margin max-height-40px ion-no-padding">
          <img src="../../assets/more-info/Group 69.png" class="imgHeader">
        </ion-button>
      </ion-col>
    </ion-row>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid  class="ion-no-padding">
    <div class="bg-image">
          <ion-row>
            <ion-col size="3">
              <img class="headProfile"src="../../assets/profile/yyZVmR.tif(white).png"/>
            </ion-col>
            <ion-col size="6">
              <p class="name font-nunitoSemiBold">John Zuri</p>
              <p class="nameDetails font-nunitoRegular">ID JDF5768NH</p>
            </ion-col>
            <ion-col>
              <img src="../../assets/profile/pFeWbN.tif.png" alt="">
            </ion-col>
          </ion-row>
    </div>
    <div  class="profileDetails">
      <ion-row>
        <ion-col size="4" >
        <p class="label ion-no-margin font-nunitoSemiBold">Email Id:</p>
      </ion-col>
      <ion-col size="8">
        <p class="detail ion-no-margin font-nunitoRegular">John.z@gmail.com</p>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <p class="label ion-no-margin font-nunitoSemiBold">Phone No.:</p>
        </ion-col>
        <ion-col size="8">
          <p class="detail ion-no-margin font-nunitoRegular">5876-98876-798</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <p class="label ion-no-margin font-nunitoSemiBold">Address</p>
        </ion-col>
        <ion-col size="8">
          <p class="detail ion-no-margin font-nunitoRegular">9808 Lake View Street Hobart, IN 46342</p>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="buttons">
      <ion-col size="6">
        <div class="imgSquare">
          <ion-button fill="clear" class=" ion-no-margin ion-no-padding max-height-200px ">
            <!-- <img src="../../assets/profile/Rectangle 57.png" class="imgSquare"> -->
            <img src="../../assets/profile/Group.png" class="imgIcon"> 
            <!-- <p>View</p> -->
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="imgSquare">
          <ion-button fill="clear" class=" ion-no-margin ion-no-padding max-height-200px">
            <!-- <img src="../../assets/profile/Rectangle 57.png" class="imgSquare"> -->
            <img src="../../assets/profile/Group 16.png" class="imgIcon">
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
