.max-height-40px {
    width: 40px;
    height: 40px;
  }
  .imgHeader {
    height: 30px;
    width: 30px;
  }
  .ion-text-center{
    color: lightgray;
}
.headIcon{
  width: 30px;
  height: 30px;
}
.warning{
  background-color: #F45A59;
}
.warningText{
  text-align: center;
  color: white;
  font-size: 35px ;
  margin: 0px;
}
.warningImg{
  margin-left: 13px;
}
.hello{
  font-size: 20px;
  margin: 0px;
  color: #3F3D56;
}
.helloDes{
  font-size: 15px;
  margin: 0px;
  color: #9B9A9A;
}
.helloDiv{
  padding: 10px 10px 0px 10px;
}
.details{
  color: white;
  font-size:14px;
  margin: 2px;
}
.detailsBold{
  color: white;
  font-size: 18px;
  margin: 2px;
}
.scroll-segment {
  display: flex;
  overflow-x: scroll;
  .item-scroll {
      display: inline-block !important;
      min-width: 100px !important;
      width: auto !important;
  }
}

// ion-card{
//   min-width: 100px;
//   min-height: 100px;
// }

// ion-segment-button{
//   min-width: 300px;
//   min-height: 200px;
// }
.slide{
  max-width: 270px;
  height: 280px;
}
.imgCard{
  background-color: #CEF7FF;
  height: 130px;
  border: 1px solid #F45A59;
  border-radius: 11px;

   img{
    margin: 17px 0px;
   }
}
.cardSubtitle{
  font-size: 13pt;
  text-align: left;
  color: #3F3D56;
}
.cardContent{
  font-size: 10pt;
  text-align: left;
  color: #9B9A9A;
}
.imgCard2{
  background-color: #F45A59;
  height: 130px;
  border: 1px solid #F45A59;
  border-radius: 11px;

   img{
    margin: 30px 0px;
   }
}
.card3{
  height: 72px;
  width: 72px;
  display: inline-block;
  margin: 10px;

    img{
      width: 35px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
    }
}
p{
  margin: 2px !important;
}
.font-13{
  font-size: 13px;
  color: #529458;
}
.font-9{
  font-size: 9px;
  color: #414141;
}
.imgClaim{
  width: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
}
.viewDetails{
  color: #F56B6A;
}
.lastRow{
  background-color: #f9f9f9
}